<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sistema de gerenciamento de pedidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="centralizar">
        <h1>Sistema de gerenciamento de pedidos</h1>
        <h2>Produtos</h2>
        <ul>
            {% for product in products %}
            <li>{{ product[1] }} - R${{ product[2] }}
                <a href="{{ url_for('delete_product_route', product_id=product[0]) }}">Excluir</a>
            </li>
            {% endfor %}
        </ul>
        <h2>Pedidos</h2>
        <ul>
            {% for order in orders %}
            <li>{{ order[1] }} encomendou {{ order[3] }} de {{ order[2] }} - Total: R${{ order[4] }}
                <a href="{{ url_for('delete_order_route', order_id=order[0]) }}">Deletar</a>
            </li>
            {% endfor %}
        </ul>
        <a  class="custom-btn btn-1 " href="/add_product">Adicionar Produto</a>
        <a  class="custom-btn btn-1 " href="/add_order">Encomendar</a>
    </div>
</body>

</html>